{% extends 'base.html' %}
{% load static %}

{% block title %}{{ object.name }}{% endblock %}
{% block header %}{{ object.name }} Details{% endblock %}
{% block styles %}{% endblock %}

{% block content %}
    <p>By {{ object.author }}</p>
    <p>Created on {{ object.created_on }} || Updated on {{ object.updated_on }}</p>
    <h3>Ingredients:</h3>
    <ul>
        {% for ingredient in object.ingredients.all %}
            <li>
                {{ ingredient.ingredient.name }} - {{ ingredient.quantity }}
            </li>
        {% endfor %}
    </ul>
    <a href="/recipes/list">Go back to Recipe List</a>
    <h3>Images:</h3>
    <a href="{{ object.get_add_image_url }}">Add image</a>
{% for image in object.recipe_image.all %}
{% if image.recipe_image %}
<img src="{{ image.recipe_image.url }}" alt="{{ image.description }}">
{% endif %}
{% endfor %}
{% endblock %}